 <section class="container lead-section">

    <header>
        <div class="logo"> <a href="{{ site.url }}"><img src="/assets/img/logo.svg" alt="wwawesome logo"></a></div>
      </a>
      <nav>
        <ul class="nav-links">
          {% for item in site.data.links %}
          <li><a class="main-link page-scroll" href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <div class="section-content row">
      <h4 class="kicker">Welcome to <br /><span class="uppercase">world wide awesome</span></h4>
      <h1 class="lead-title">We help businesses getting attention in a connected world</h1>
      <div class="info">Portfolio coming soon!</div>
    </div>
</section>
